<!DOCTYPE html>
<html ng-app="main">
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <div>
         <ul class="nav">
             <li><a href="#login"> Add New Order </a></li>
             <li><a href="#main"> Show Order </a></li>
         </ul>
    </div>
    <div>
        <div ng-view>
        </div>
    </div>
</body>
</html>
<link href="../Style/css/style.css" rel="stylesheet" />
<link href="../Style/css/bootstrap.css" rel="stylesheet" />

<script src="../Scripts/angular.js"></script>
<script src="../Scripts/app.js"></script>
<script src="../Scripts/angular-route.min.js"></script>
