<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
<div class="col-lg-6">
<div id="container" class="panel-body">       
<form role="form">
<label for="username">Username:</label>
<input type="text" class="form-control" id="username" name="username">
<label for="password">Password:</label>
<input type="password" class="form-control" id="password" name="password">
<div id="lower">
<div class="form-group">
<div class="col-lg-offset-2 col-lg-10">
<input type="checkbox"><label for="checkbox">Keep me logged in</label>
</div>
</div>
<input type="submit" value="Login" class="btn btn-info">
</div><!--/ lower-->
</form>
</div>
</div>
</body>
</html>
