<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <form class="form-horizontal">
        <fieldset>

            <!-- Form Name -->
            <legend>Patient Account</legend>

            <!-- Password input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="password">Password</label>
                <div class="col-md-4">
                    <input id="password" name="password" type="password" placeholder="Password" class="form-control input-md">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">UserName</label>
                <div class="col-md-4">
                    <input id="textinput" name="textinput" type="text" placeholder="UserName" class="form-control input-md">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">LastName</label>
                <div class="col-md-4">
                    <input id="textinput" name="textinput" type="text" placeholder="LastName" class="form-control input-md">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">FirstName</label>
                <div class="col-md-4">
                    <input id="textinput" name="textinput" type="text" placeholder="FirstName" class="form-control input-md">

                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="singlebutton"></label>
                <div class="col-md-4">
                    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Save</button>
                </div>
            </div>

        </fieldset>
    </form>
</body>
</html>
